html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* btn */
.blade-airdrop_btn {
  padding: 12px;
  border: 2px solid #EEEEEE;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #1d1c1d;
}

.blade-airdrop_btn::before {
  content: "";
  width: 18px;
  height: 18px;
  background: transparent center/cover url("../img/blade-logo.svg") no-repeat;
  margin-right: 6px;
}

/* overlay/popup */
.blade-airdrop_overlay {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.15);
}

.blade-airdrop_popup {
  position: absolute;
  top: 150px;
  right: 200px;
  width: 100%;
  max-width: 280px;
  padding: 18px 22px;
  background: #1d1c1d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.blade-airdrop_popup::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: -58px;
  width: 64px;
  height: 196px;
  background: transparent center/cover url("../img/arrow.svg") no-repeat;
}
